
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto+Condensed&family=Ubuntu&display=swap');


html{
	scroll-behavior: smooth;
}

body{
	padding: 0%;
	margin: 0%;
	font-family:'Lato';
}
.navbar-brand{
	font-family: 'Pacifico';
	font-size: 28px;
	color: lightcoral !important;
}

.nav-link{
	font-size: 16px;
	margin: 8px;
	color: black !important;
	font-family: 'Roboto Condensed';
}
.nav-link:hover{
	color: #ff3300 !important;
}

.active .nav-link{
	color: #ff3300 !important;
}

.site-content{
	background-image: url(1.png);
	background-attachment: fixed;
	background-size: cover;

}
.site-title{
	color: white;
	font-family: 'Righteous';
	margin-top: 30%;
	margin-bottom: 3%;
	font-size: 55px;
}

.site-btn1{
	color: white;
	margin-left: 0%;
	margin-top: 5%;	
}
.site-btn2{
	color: white;
	margin-left: 8%;
	margin-top: 5%;	
}

.site-btn1 .fa-whatsapp{
	color: white;
}
.site-btn2 .fa-phone{
	color: white;
}
.Contact{
	margin-top: 2%;
	margin-bottom: 5%;
}


.flex-row{
	margin: auto;
	margin-bottom: 35%;
}

hr{
	height: 1px;
	width: 15%;
	background-color: red;
}

#card{
	background-color: #01CBC6;
}
.card{
	margin-top: 30px;
}

.gotopbtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background: #B22222;
	bottom: 40px;
	right: 50px;

	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 22px;
}

#footer{
	background-color: #2F363F;
}

